body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

article h2 {
    margin-top: 0;
}

article p {
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
